<main class="box-shadow calculator">
    <header class="header-container">
        <h1 class="title">
            Body Fat % Generator
        </h1>
    </header>

    <section>
        <i (click)="handleNavigation()" class="fa fa-arrow-left back-btn">Back to home</i> <br><br>

        <label for="gender">Genero: </label>

        <input type="radio" id="hombre" name="gender" value="hombre" [(ngModel)]="selectedGender"/>
        <label for="hombre">Hombre</label>

        <input type="radio" id="mujer" name="gender" value="mujer" [(ngModel)]="selectedGender"/>
        <label for="mujer">Mujer</label>

        <hr>

        <label for="weight">Peso: </label>
        <input type="number" placeholder="Kg" #weight>
        <br>
        <hr>

        <label for="height">Estatura: </label>
        <input type="number" placeholder="cm" #height>
        <hr>

        <label for="waistSize">Circunfernecia de cintura: </label>
        <input type="number" placeholder="cm" #waistSize>
        <hr>

        <label for="neckSize">Circunfernecia de cuello: </label>
        <input type="number" placeholder="cm" #neckSize>
        <hr>

        <!-- *ngIf='mujer', removing ng If -->
        <div [ngClass]="getGenderClasses()">
            <label for="hipSize">Circunferencia de cadera: </label>
            <input type="number" placeholder="cm" name="hipSize" id="hipSize" #hipSize />
            <hr>
          </div>

        <h3 *ngIf="result"> Su porcentaje de grasa es: {{result}} %</h3>
    </section>

    <footer>
        <button
            (click)="calculate(weight.value, height.value, waistSize.value, neckSize.value, hipSize.value)">
            Calcular
        </button>
    </footer>
</main>