<main class="box-shadow calculator">
    <header class="header-container">
        <h1 class="title">
            Muscle Mass Index Generator
        </h1>
    </header>

    <section>
        <i (click)="handleNavigation()"  class="fa fa-arrow-left back-btn">Back to home</i> <br><br>

        <label for="weight">Peso: </label>
        <input type="number" placeholder="kg"  #weight>
        <hr>

        <label for="height" >Estatura: </label>
        <input type="number" placeholder="m"  #height>
        <hr>

        <h3 *ngIf="result">Su indice de masa muscular es: {{result}} </h3>
    </section>

    <footer>
        <button (click)="calculateImc(weight.valueAsNumber, height.valueAsNumber)">
            Calcular
        </button>
    </footer>
</main>