<main class="home-container">

    <header class="header-container">
        <h1 class="title">
            Keep your progress
        </h1>
    </header>

    <nav class="btn-container">
        <app-button [path]="'body-measurements'" [label]="'Body measurements'"></app-button>
        <app-button [path]="'basal-metabolic-rate'" [label]="'Basal Metabolic Rate'"></app-button>
        <app-button [path]="'body-fat-percentage'" [label]="'Body Fat Percentage'"></app-button>
        <app-button [path]="'muscle-mass-index'" [label]="'Muscle Mass Index'"></app-button>
    </nav>

</main>

