<main class="home-container">

    <header class="header-container">
        <h1 class="title">
            Keep your progress
        </h1>
    </header>

    <app-button></app-button>
    <nav class="btn-container">
        <button (click)="handleNavigation('body-measurements')" class="btn">Body measurements</button>
        <button (click)="handleNavigation('basal-metabolic-rate')" class="btn">Basal Metabolic Rate</button>
        <button (click)="handleNavigation('body-fat-percentage')" class="btn">Body Fat Percentage</button>
        <button (click)="handleNavigation('muscle-mass-index')" class="btn">Muscle Mass Index</button>
    </nav>

</main>

