/* You can add global styles to this file, and also import other style files */
.box-shadow{
    box-shadow: -9px 8px 17px 4px #000000;
}
.calculator{
    background-color: grey;
}
.header-container {
    display: grid;
    justify-content: center;
}

.title {
    text-align: center;
    color: #ffe8d6;
}

.btn {
    height: 35px;
    width: 50%; 
    min-width: 227px;
    max-width: 450px;
    border-radius: 10px;
    background-color: #b7b7a4;
}
.btn:hover{
    background-color: #9b9b8b;
}
.back-btn{
    cursor: pointer;
}